{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <form action="/" method="GET">
                                    {% csrf_token %}
                                    {% for catagory in catagories %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/?catagory={{catagory.id}}"><i class="fa fa-home"></i>{{catagory.name}}</a>
                                    </li>
                                    {% endfor %}
                                </form>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <div class="header-slider normal-slider">
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-1.jpg' %}" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>Shop now!! The Most Sale and Featured Products</p>
                                    <a class="btn" href="/product-list?sortby=mostsold"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-2.jpg' %}" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>Find whichever Brand you want with just one click</p>
                                    <a class="btn" href="/product-list"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-3.jpg' %}" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>The most trusted Shopping platform with Secured Payments. </p>
                                    <a class="btn" href="/product-list"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="header-img">
                            <div class="img-item">
                                <img src="{% static 'img/category-1.jpg' %}" />
                                <a class="img-text" href="/product-list?catagory=3">
                                    <p>Shop Now Trending Fashion and Beauty Products.</p>
                                </a>
                            </div>
                            <div class="img-item">
                                <img src="{% static 'img/category-2.jpg' %}" />
                                <a class="img-text" href="/product-list?catagory=1">
                                    <p>Shop now the Best Kids products</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Slider End -->      
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static 'img/brand-1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-2.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-3.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-4.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-5.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-6.png' %}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->      
        
        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2>Secure Payment</h2>
                            <p>
                                Trutsed Worlwide Payment platform
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Worldwide Delivery</h2>
                            <p>
                                Get your orders globally, anywhere you want
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2>90 Days Return</h2>
                            <p>
                                Get Your money back.  
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>24/7 Support</h2>
                            <p>
                                Available everywhere, Any time
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End-->      
        
        <!-- Category Start-->
        <div class="category">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="category-item ch-400">
                            <img src="{% static 'img/category-3.jpg' %}" />
                            <a class="category-name" href="/product-list?catagory=2">
                                <p>Mens and women Products</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-250">
                            <img src="{% static 'img/category-4.jpg' %}" />
                            <a class="category-name" href="/product-list?catagory=3">
                                <p>Beautify Your personality </p>
                            </a>
                        </div>
                        <div class="category-item ch-150">
                            <img src="{% static 'img/category-5.jpg' %}" />
                            <a class="category-name" href="/product-list">
                                <p>Personality related Products</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-150">
                            <img src="{% static 'img/category-6.jpg' %}" />
                            <a class="category-name" href="/product-list">
                                <p>Charming Face beauty</p>
                            </a>
                        </div>
                        <div class="category-item ch-250">
                            <img src="{% static 'img/category-7.jpg' %}" />
                            <a class="category-name" href="/product-list">
                                <p>Electronic Gadgets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="category-item ch-400">
                            <img src="{% static 'img/category-8.jpg' %}" />
                            <a class="category-name" href="/product-list?catagory=3">
                                <p>Fashion and Beauty</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End-->       
        
        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>call us for any queries</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="#">+92304-7676571</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->       
        
        <!-- Featured Product Start -->
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Featured Product</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                    {% for product in featured %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">{{product.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="/product-detail">
                                    <img src="{{product.img.url}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <form action="/#{{product.id}}" method="POST">

                                        {% csrf_token %}
                                        <input hidden type="text" name="product" value="{{product.id}}">
                                        <input hidden type="text" name='add_to_cart' value='True'>
                                        <button type="submit" class="btn btn-default add-to-cart" value="">
                                            <i class="fa fa-cart-plus"></i>
                                        </button>
                                    </form>
                                    <form action="/#{{product.id}}" method="POST">
                                        {% csrf_token %}
                                        <input hidden type="text" name="product" value="{{product.id}}">
                                        <input hidden type="text" name='add_to_wishlist' value='True'>
                                        <button type="submit" class="btn btn-default" value="">
                                            <i class="fa fa-heart"></i>
                                        </button>
                        
                                    </form>
                                    <form action="/product-detail" method="get">
                                        <input hidden type="text" name="product" value="{{product.id}}">
                                        <input hidden type="text" name='info' value='True'>
                                        <button type="submit" class="btn btn-default" value="">
                                            <i class="fa fa-info"></i>
                                        </button>
                                    </form>
                                    
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>${{product.price}}</h3>
                                <form action="/#{{product.id}}" method="POST">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input hidden type="text" name="cart" value="True">
                                <a class="btn" href="/#{{product.id}}"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- Featured Product End -->       
        
        <!-- Newsletter Start -->
        <div class="newsletter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Subscribe Our Newsletter</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <input type="email" value="Your email here">
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->        
        
        <!-- Recent Product Start -->
        <div class="recent-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Recent Product</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                    {% for r in recent %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="/#{{r.id}}">{{r.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="/product-detail">
                                    <img src="{{r.img.url}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <form action="/#{{product.id}}" method="POST">

                                        {% csrf_token %}
                                        <input hidden type="text" name="product" value="{{r.id}}">
                                        <input hidden type="text" name='add_to_cart' value='True'>
                                        <button type="submit" class="btn btn-default add-to-cart" value="">
                                            <i class="fa fa-cart-plus"></i>
                                        </button>
                                    </form>
                                    <form action="/#{{r.id}}" method="POST">
                                        {% csrf_token %}
                                        <input hidden type="text" name="product" value="{{r.id}}">
                                        <input hidden type="text" name='add_to_wishlist' value='True'>
                                        <button type="submit" class="btn btn-default" value="">
                                            <i class="fa fa-heart"></i>
                                        </button>
                        
                                    </form>
                                    <form action="/product-detail" method="get">
                                        <input hidden type="text" name="product" value="{{r.id}}">
                                        <input hidden type="text" name='info' value='True'>
                                        <button type="submit" class="btn btn-default" value="">
                                            <i class="fa fa-info"></i>
                                        </button>
                                    </form>
                                    
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>$</span>{{r.price}}</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Recent Product End -->
        
        <!-- Review Start -->
        <div class="review">
            <div class="container-fluid">
                <div class="row align-items-center review-slider normal-slider">
                    
                    {% for c in customer %}
                    <div class="col-md-12">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="{{c.img.url}}" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>{{c.name}}</h2>
                                <h3>{{c.job_position}}</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Our Feautred customers with Charming personality.
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Review End -->    
        
        {% endblock %}
        
        