{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% load orders %}
{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="account-nav active" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>Myprofile</a>
                            <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                            <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i class="fa fa-credit-card"></i>Payment Method</a>
                            <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i class="fa fa-map-marker-alt"></i>address</a>
                            
                            <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            
                            <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                                {%for o in objects %}
                                <h4>Order{{forloop.counter}}</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Sno</th>                                   
                                                <th>image</th>
                                                <th>Name</th>
                                                <th>price</th>
                                                <th>Quantity</th>
                                                <th>product total</th>
                                                <th>DateTime</th>
                                                <th>Order Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for p in o|get_object_related_products:request.session.customer %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{p.img.url}}" alt="Image" height="50px" width="50px"></a>
                                                </div>
                                                </td>
                                                <td>{{p.name}}</td>
                                                <td>{{p.price}}</td>
                                                <td>{{o|get_product_quantity:p}}</td>
                                                <td>{{o|get_order_total:p}}</td>
                                                <td>{{o.date}}</td>
                                                {% if o.order_status == 'completed' %}
                                                <td><small style="background-color:green;"><span class="badge badge-success">{{o.order_status}}</span></small></td>                    
                                                {% else %}
                                                <td><small style="background-color:rgb(231, 211, 26);"><span class="badge badge-warning">{{o.order_status}}</span></small></td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>Order total:
                                                    <td>
                                                        {{o.price}}
                                                    </td>
                                                </th>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                {% endfor %}
                            </div>
                            
                            <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                               
                                <div class='cart cart-summary col-md-12'>
                                    {% for pm in payment_method %}
                                    
                                    <img src="{{pm.img.url}}" width="150" height="150" style="">
                                    
                                    
                                    <h4>{{pm.name}}</h4>
                                    <p>
                                        {{pm.desc}}
                                        </p> 
                                    
                                    {% endfor %}
                                </div>
                                
                            </div>
                            <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                                <h4>Address</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Payment Address</h5>
                                        {% if profile %}
                                        <p>{{profile.home_address}}</p>
                                        <img src="https://thumbs.dreamstime.com/z/phone-icon-black-white-telephone-symbol-vector-illustration-handset-background-eps-format-132728273.jpg" height="30px" width="30px">
                                        <p style="margin: 0; display: inline;">{{profile.phno}}</p>
                                        {% endif %}
                                        
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Shipping Address</h5>
                                        {% if profile %}
                                        <p>{{profile.shipping_address}}</p>
                                        <img src="https://thumbs.dreamstime.com/z/phone-icon-black-white-telephone-symbol-vector-illustration-handset-background-eps-format-132728273.jpg" height="30px" width="30px">
                                        
                                        <p style="margin: 0; display: inline;">{{profile.phno}}</p>
                                        {% endif %}
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                                <h4>Account Details</h4>
                                <div class="row">
                                    
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <div id="profile-container">
                                    {% if profile.img %}
                                    <img width="50" height="70" id="profileImage" src="{{profile.img.url}}" />
                                    {% else %}
                                    <img width="50" height="70" id="profileImage" src="https://p1.pxfuel.com/preview/423/292/62/girl-studio-female-woman-profile-black-and-white.jpg" />
                                    {% endif %}
                                    </div><br><br><br><br><br><br>
                                    <form action="/my-account" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                            {{form.as_p}}
                                        {% if request.session.customer|check_customer_profile %}
                                        <div class="col-md-12">
                                            <button type="submit" class="btn">update profile</button>
                                            <br><br>
                                        </div>
                                        {% else %}
                                        <div class="col-md-12">
                                            <button type="submit" class="btn">Create profile</button>
                                            <br><br>
                                        </div>
                                        {% endif %}
                                    </form>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account End -->
        
       {% endblock %}