{% extends 'base.html' %}

{% block content %}
<!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="login-form">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <tr>
                                        <th>
                                        <label for="id_new_password1">New password:
                                        </label>
                                        </th>
                                        <td>
                                        <input type="password" name="new_password1" autocomplete="new-password" required 
                                            id="id_new_password1"><br><span class="helptext">
                                        <ul>
                                        <li>Your password can’t be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can’t be a commonly used password.</li>
                                        <li>Your password can’t be entirely numeric.</li></ul></span></td></tr>
                                        <tr>
                                        <th>
                                        <label for="id_new_password2">New password confirmation:
                                        </label>
                                        </th>
                                        <td>
                                        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                                        </td>
                                        </tr>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %} 