{% load i18n %}
{% load cart %}

{% blocktrans %}Greetings{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the 127.0.0.1 site. If you do not
wish to reset your password, please ignore this message.
{% endblocktrans %}

{% blocktrans %}
To reset your password, please click the following link, or copy and paste it
into your web browser:

{% endblocktrans %}


  http://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=cust.id token=token %}


{% blocktrans %}Your username, in case you've forgotten:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Best regards{% endblocktrans %},
{{ site_name }} {% blocktrans %}Management{% endblocktrans %}


{# This is used by django.contrib.auth #}