{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-md-8">

    <div class="checkout-summary col-lg-9">
        <div class="checkout-content">
            <img src="{% static 'img/thank-you-png-icon-17633.png' %}" height="200" width="200">
            <br>
            <br>
            <h3 class="success" style="color: lightgreen;">Your order has been submitted successfully. 
                Thanks for Shopping.
            </h3>
            <br>
    
            <br>
        </div>
        <div class="checkout-btn btn btn-lg" style="padding: 3px; margin-bottom: 20px">
            <a href="/" ><button style="color: darkorange;">Go To Home Page</button></a>
        </div>

    </div>

</div>




{% endblock %}