{% extends 'base.html' %}
{% load cart %}
{% load static %}

{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for p in products %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{p.img.url}}" alt="Image"></a>
                                                    <p>{{p.name}}</p>
                                                </div>
                                            </td>
                                            <td>${{p.price}}</td>
                                            
                                            <td>
                                                <form action="" method="POST" class="float-right ">
                                                {% csrf_token %}
                                                <input hidden type="text" name="product" value="{{p.id}}">
                                                <input hidden type="text" name="add_to_cart" value="True">
                                                <button type="submit" class="btn-cart">
                                                    <input hidden type="submit">Add to Cart
                                                </button></td>
                                                </form>
                                            <td>
                                                <form action="" method="POST" class="float-right ">
                                                {% csrf_token %}
                                                <input hidden type="text" name="product" value="{{p.id}}">
                                                <input hidden type="text" name="delete" value="True">
                                                <button type="submit">
                                                    <input hidden type="submit">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
        
        {% endblock %}